.tab-content {
    margin-top: 50px;
}

.menu-content {
    margin-top: 22px;
}

.wine-content {
    display: flex;
    flex-direction: column;
}

.wine-description {
    font-size: 1rem;
    font-weight: 400;
}

.wine-list {
    margin-top: 27px;
}
