@import '../constants';

.gold {
    color: $secondary-color;
}

.menu-navigator {
    margin-top: 90px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: $desktop-width) {
    .menu-navigator {
        margin-top: 70px;
    }
}
