@import '../constants';

.gold {
    color: $secondary-color;
}

.col-sm-4 {
    width: calc(100% / 3);
}

.menu-navigator {
    margin-top: 90px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
