@import '../constants';

.dish-type-button {
    color: $secondary-color;
    background-color: rgb(22, 42, 37);
    text-transform: uppercase;
    border-radius: 0.25rem;
    border: none;
    padding: 8px 20px;
    font-size: 0.8rem;
    margin: 0 1px 2px 1px;
}

.dish-type-button:focus {
    outline: 0;
}

.dish-type-button:hover {
    cursor: pointer;
}

.selected {
    color: $primary-color;
    background-color: #580000;
}
