@import '../constants';

.package-menu--box:not(:last-child) {
    margin-right: 30px;
}

.package-menu--dish {
    margin: 13px 0;
}

@media only screen and (max-width: $desktop-width) {
    .package-menu--box:not(:last-child) {
        margin-bottom: 30px;
    }
}
