@import 'constants';

.banner {
    width: 100%;
    color: $primary-color;
    padding: 8px;
    background-color: #580000;
    position: fixed;
    z-index: 30;
    bottom: 0;
    text-align: center;
    border: none;
}

.wine-tasting-link {
    color: background-color;
    border-bottom: 1px solid $primary-color;
}
