.text-center {
    text-align: center;
}

.section {
    margin: 0 auto;
    padding: 100px 150px;
    max-width: 1600px;
}

.pointer {
    cursor: pointer;
}

.row {
    display: flex;
}

.col-sm-4 {
    width: calc(100% / 3);
}
