.book-button {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #580000;
    color: #f4f0d9;
    padding: 10px 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
