@import 'constants';

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider__line {
    width: 30%;
    max-width: 500px;
    border-top: 1px solid $secondary-color;
    margin: 0 10px;
}

.divider__logo {
    width: 50px;
    margin: 10px 30px;
}
