.contact {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 11px;
}

.footer-col-last {
    display: flex;
    flex-direction: row;
}

.fa-facebook-square {
    margin-right: 17px;
}
