@import 'constants';

header {
    background: $background-color;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.nav-button {
    text-transform: uppercase;
    background-color: $background-color;
    border: none;
    color: $primary-color;
    margin: 0 12px;
}
