@import 'constants';

header {
    background: $background-color;
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3px 0px;
    z-index: 100;
    align-items: center;

    @media screen and (max-width: $desktop-width) {
        .divider__logo {
            margin: 10px;
        }
    }
}

.navigator {
    display: flex;
    justify-content: center;
}

.burger-wrapper {
    width: 53px;
}
