@import 'constants';

header {
    background: $background-color;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3px 0px;
    z-index: 100;
}

.navigator {
    display: flex;
    justify-content: center;
}

.nav-button {
    text-transform: uppercase;
    background-color: $background-color;
    border: none;
    color: $primary-color;
    margin: 0 21px;
}

.nav-button:focus {
    outline: none;
}
