@import 'constants';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url('../images/brezza-stor-matsal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-logo {
    fill: $primary-color;
    stroke: $primary-color;
}

.logo {
    max-width: 73%;
}

@media only screen and (max-width: $desktop-width) {
    .hero {
        background-position: 50% 41%;
    }
}
