.gold {
  color: rgb(169, 150, 107);
}

.col-sm-4 {
  width: calc(100% / 3);
}

.course-navigator {
  margin-top: 40px;
  margin-left: 2px;
  margin-right: 2px;
}

.course-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
