@import 'constants';

.wine-tasting--main {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.wine-tasting--description {
    margin: 24px auto;
    max-width: 900px;
}

.wine-tasting--price {
    color: $secondary-color;
}

.wine-tasting--offering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: $desktop-width) {
    .wine-tasting--offering {
        padding-left: 30px;
    }
}
