@import 'constants';

.wine-tasting--district {
    border: 1px $secondary-color solid;
    padding: 30px;
    min-height: 255px;
    margin: 15px;
}

.wine-tasting--main {
    margin-top: 20px;
}

.wine-tasting--description {
    margin: 24px auto;
}

.wine-tasting--price {
    color: $secondary-color;
}
